body{
    background-color: black;
    color:white;
    line-height: 1.6;
}
.name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.container{
    
    margin: 2px solid red;
}
.new{
    padding-left:19rem;
    padding-right:19rem;

}
.image{
    height:100vh;
}
.myImage{
    border-radius:10%;
    width: 50%;
    float: left;
    margin-right: 2rem;
}

.intro{
    margin-bottom: 2rem;
}
.heading3{

}